  html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

  body {
    background: #F5F4EF url('../images/bg.png');
    color: #000305;
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    height: 2000px;
    text-align: left;
  }

  #barranaranjasuperior{
  background-color: #ed6c4e;
  height: 10px;
  width: 100%;
  }

  #primerapartegris{
    background-color: #323a45;
    height: 500px;
    width: 100%;

  }

    header nav {
    height: 45px;
    line-height: 30px;
    margin: auto;
    padding: 0;
    text-align: center;
    width: 500px;    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  
  header nav ul {list-style: none; margin: 0 auto; width: 800px;}
  header nav li {float: left; display: inline; margin: 0;}
  
  header nav a:link, #banner nav a:visited {
    color: #68707b;
    display: inline-block;
    height: 30px;
    padding: 5px 1.5em;
    text-decoration: none;
  }
  header nav a:hover, #banner nav a:active,
  header nav .active a:link, #banner nav .active a:visited {
    background: #292f39;
    color: #68707b;    
    border-bottom:3px solid #ed6c4e;
  }

  #logo{
    clear:both;
    margin: auto;
    text-align: center;
    width: 100px;
    height:70px;
  }

  #textoprincipal{
    font-size: 2.5em;
    color: #68707b
  }

  #textoprincipal span{
    
    color: #ed6c4e;
  }

  #circulos{
    width: 700px;
    height: 200px;
  }

#segundapartenaranja{
    background-color: #ed6c4e;
    height: 450px;
    width: 100%;

  }
  
#segundapartenaranja h1{
  color: #fff;
  font-size: 2em;
  margin: auto;
  padding-top: 40px;
    
  }

 section ol li {float: left; display: inline; margin: 0;}

section ol  li .hentry{
    width: 250px;
    border-right: 0.08em solid #fff;
   
}


#titulo h1{
    font-size: 3em;
}

#titulo h2{
    font-size: 1em;
    color: #fff;
}

.entry-content{
    font-size: .8em;
    color:#fff;
    padding-top: 40px

}

section ol{
      text-align: center;
  width: 800px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;

}

.post-info{
    padding-top: 40px;
    font-size: 1.3em;
    color:#fff;
}
  