/*****************************************************/
/*   1-RESET                                         */
/*   2-PRIMERA PARTE - INDEX                         */
/*   3-SEGUNDA PARTE - INDEX                         */
/*   4-TERCERA PARTE - INDEX                         */
/*   5-CUARTA PARTE  - INDEX                         */
/*****************************************************/


/********************************RESET*********************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

  body {
    background: #F5F4EF url('../images/bg.png');
    color: #000305;
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    /*height: 1800px;*/
    text-align: left;
  }


/***************************************PRIMERA PARTE-INDEX************************************/
  body #barranaranja{
  background-color: #ed6c4e;
  height: 10px;
  width: 100%;
  }

  body #primera-parte-gris{
    background-color: #323a45;    
    width: 100%;
  }

  body #primera-parte-gris header nav {
    height: 45px;
    line-height: 30px;
    margin: auto;
    padding: 0;
    text-align: center;
    width: 500px;    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  
  body #primera-parte-gris header nav ul {list-style: none; margin: 0 auto; width: 800px;}
  body #primera-parte-gris header nav li {float: left; /*display: inline; */margin: 0;}
  
  body #primera-parte-gris header nav a:link, #primera-parte-gris nav a:visited {
    color: #68707b;
    display: inline-block;
    height: 30px;
    padding: 5px 1.5em;
    text-decoration: none;
  }
  body #primera-parte-gris header nav a:hover, #primera-parte-gris nav a:active,
  body #primera-parte-gris header nav .active a:link, #primera-parte-gris nav .active a:visited {
    background: #292f39;
    color: #68707b;    
    border-bottom:3px solid #ed6c4e;
  }

  body #primera-parte-gris #logo{
    clear:both;
    margin: auto;
    text-align: center;
    width: 100px;
    height:70px;
  }

   body #primera-parte-gris #textoprincipal{
    font-size: 2.5em;
    color: #68707b
  }

   body #primera-parte-gris #textoprincipal span{    
    color: #ed6c4e;
  }

   body #primera-parte-gris #circulos{
    width: 700px;
    height: 200px;
    padding-bottom: 100px;
  }


/****************************************SEGUNDA PARTE-INDEX****************************/

#segunda-parte-naranja{
    background-color: #ed6c4e;    
    width: 100%;
  }
  
#segunda-parte-naranja h1{
    color: #fff;
    font-size: 2em;
    margin: auto;
    padding-top: 40px;    
  }

#segunda-parte-naranja #content{
    height: 350px;
  }

#segunda-parte-naranja section ol{
    text-align: center;
    width: 800px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }

#segunda-parte-naranja section ol li {float: left; display: inline; margin: 0;}

#segunda-parte-naranja section ol  li .hentry{
    width: 250px;
    border-right: 0.08em solid #fff;
  }

#segunda-parte-naranja section ol li:last-child .hentry{
    border-right:  0 none;
  }


#segunda-parte-naranja section ol li article #titulo h1{
    font-size: 3em;
  }

#segunda-parte-naranja section ol li article #titulo h2{
    font-size: 1em;
    color: #fff;
  }

#segunda-parte-naranja section ol li article .entry-content{
    font-size: .8em;
    color:#fff;
    padding-top: 40px
}

#segunda-parte-naranja section ol li article .post-info{
    padding-top: 40px;
    font-size: 1.3em;
    color:#fff; 
  }


#segunda-parte-naranja section ol li article footer a:link, 
#segunda-parte-naranja section ol li article footer a:visited,
#segunda-parte-naranja section ol li article footer a:hover
 {
    color: #fff;   
  }
 
  
/*******************************************TERCERA PARTE-INDEX**************************/
  #tercera-parte-gris{
    background-color: #323a45;   
    width: 100%;
  }

  #tercera-parte-gris #seccion ol li {float: left; display: inline; margin: 0;}

  #tercera-parte-gris #seccion ol li .articulo{
    width: 350px; 
    padding-left: 50px;
    text-align: left;   
  }

  #tercera-parte-gris #seccion{
    padding-top: 50px;
    height: 350px;
  }


  #tercera-parte-gris .articulo #titulo h1{
    font-size: 2em;
    color:#fff;
    text-align: left;
  }

  #tercera-parte-gris .articulo #titulo h2{
    font-size: 1em;
    color: #fff;
    text-align: left;
  }

  #tercera-parte-gris #imagenseccion{
    float: left;
    padding-top: 50px;
    width:90px;
    height:90px;
  }

  #tercera-parte-gris .articulo .entry-content{
    font-size: .8em;
    color:#fff;    
    text-align:left;
    float: right;
    width:250px;
    padding-top: 80px;
  }

  #tercera-parte-gris .articulo .entry-content p{text-align: left;}

  #tercera-parte-gris .articulo .entry-content h2{
    text-align: left;
    padding-top: 50px;
    font-size: 2em;
  }

  #tercera-parte-gris section ol{
    text-align: center;
    width: 800px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  #tercera-parte-gris .post-info{
    padding-top: 40px;
    font-size: 1.3em;
    color:#fff;
  }

#tercera-parte-gris section ol li article .entry-content a:link, 
#tercera-parte-gris section ol li article .entry-content a:visited,
#tercera-parte-gris section ol li article .entry-content a:hover
 {
    color: #fff;   
  }
 

/***********************************************CUARTA PARTE- INDEX *********************/


#foot{
    background-color: #292f39;
   /* height: 500px;*/
    width: 100%;
}

#foot section ol{
  width: 800px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

#seccionfoot ol li {float: left; display: inline; margin: 0;}

#seccionfoot ol li .articulo{
    width: 350px; 
    padding-left: 50px;
    text-align: left;   
}

#seccionfoot{
    padding-top: 50px;
    height:150px;
}

#imagenseccionfoot-1{   
    width:30px;
    height:30px;
    padding-left: 200px;
}

#imagenseccionfoot-2{   
    width:30px;
    height:30px;
    padding-left: 50px;
}

.entry-content-footer-1 p{
    font-size: .8em;   
    color:#3A4451;       
    width:250px;
    padding-top: 5px;
    padding-left: 100px;
    text-align: center;
}

.entry-content-footer-2 p{
    font-size: .8em;   
    color:#3A4451;       
    width:140px;
    padding-top: 5px;
    padding-right: 25px;
    text-align: center;
}

  footer #logo{   
    width: 100px;
    height:70px;
  }

footer #logodos{   
    width: 150px;
    height:100px;
    padding-top: 30px;
  }


/*****************************************DETALLES****************************/

.GrayTriangle {
     margin-left: 50%;
     margin-bottom: 0;
     width: 0; 
     height: 0; 
     border-left: 25px solid transparent ;
     border-top: 35px solid  #323a45;
     border-bottom: 35px solid transparent;  
    border-right: 25px solid transparent;
   }

   .OrangeTriangle {
     margin-left: 50%;
     margin-bottom: 0;
     width: 0; 
     height: 0; 
     border-left: 25px solid transparent ;
     border-top: 35px solid  #ed6c4e;
     border-bottom: 35px solid transparent;  
    border-right: 25px solid transparent;
   }