/*****************************************************/
/*   1-RESET                                         */
/*   2-PRIMERA PARTE - INDEX                         */
/*   3-SEGUNDA PARTE - INDEX                         */
/*   4-TERCERA PARTE - INDEX                         */
/*   5-CUARTA PARTE  - INDEX                         */
/*   6-PARTE NARANJA - CONTACTO                      */
/*   7-PARTE GRIS    - CONTACTO                      */
/*   8-RESPONSIVE    - CONTACTO                      */
/*****************************************************/

@import url("reset.css");
@import url("mainNav.css");


/***************************************PRIMERA PARTE-INDEX************************************/
  body #barranaranja{
  background-color: #ed6c4e;
  height: 10px;
  width: 100%;
  }

  body #primera-parte-gris{
    background-color: #323a45;    
    width: 100%;
  }

  header img{
    margin:40px auto 60px auto;
  }
/*
  body #primera-parte-gris header nav {
    height: 45px;
    line-height: 30px;
    margin: auto;
    padding: 0;
    text-align: center;
    width: 500px;    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  
  body #primera-parte-gris header nav ul {list-style: none; margin: 0 auto; width: 800px;}
  body #primera-parte-gris header nav li {float: left; /*display: inline; *//*margin: 0;}
  
  body #primera-parte-gris header nav a:link, #primera-parte-gris nav a:visited {
    color: #68707b;
    display: inline-block;
    height: 30px;
    padding: 5px 1.5em;
    text-decoration: none;
  }
  body #primera-parte-gris header nav a:hover, #primera-parte-gris nav a:active,
  body #primera-parte-gris header nav .active a:link, #primera-parte-gris nav .active a:visited {
    background: #292f39;
    color: #68707b;    
    border-bottom:3px solid #ed6c4e;
  }
*/
header img{
    margin:40px auto 60px auto;
  }

  /*body #primera-parte-gris #logo{
    clear:both;
    margin: auto;
    text-align: center;    
  }
*/
   body #primera-parte-gris #textoprincipal{
    font-size: 2.5em;
    color: #68707b
  }

   body #primera-parte-gris #textoprincipal span{    
    color: #ed6c4e;
  }

   body #primera-parte-gris #circulos{
    width: 700px;
    height: 200px;
    padding-bottom: 100px;
  }


.ch-item {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: 
    inset 0 0 0 2px rgba(255,255,255,0.6),
    0 1px 2px rgba(0,0,0,0.1);
  background-color: #333b46;
  opacity: 0.4;
}


.ch-info {
  position: absolute;
  /*background: rgba(63,147,147, 0.8);*/
  width: inherit;
  height: inherit;
  border-radius: 50%;
  opacity: 1;
  -webkit-backface-visibility: hidden;

}

.ch-info h3 {
  color: #68707b;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 0 10px;
  padding: 5px 0 0 0;
  height: 140px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 
    0 0 1px #68707b, 
    0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
  opacity: 0;
}
.ch-item:hover {
  /*box-shadow: 
    inset 0 0 0 1px rgba(255,255,255,0.1),
    0 1px 2px rgba(0,0,0,0.1);
    /*background-color: orange;*/
    background-image: url(../images/home/circulo.jpg);
    box-shadow: 
    none;
    opacity: 1;
    z-index: 1;
}

.ch-item:hover .ch-info p {
  opacity: 1;
}


.ch-item:hover .ch-info {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  color:#fff;
}

.ch-item:hover .ch-info h3{
  
  color:#fff;
}

.imagendentrocirculo{
  margin-top: 50px;
  height: 40px;
  width: 40px;
}

.ch-grid {
  margin: auto;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 800px;
}

.ch-grid:after,
.ch-item:before {
  content: '';
    display: table;
}

.ch-grid:after {
  clear: both;
}

.ch-grid li {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: -20px;           /*aqui hago se pongan uno encima del otro*/
  margin-top: 20px;
  padding-bottom: 60px;
}

/*****************************MEDIA**********************/
  @media screen and (max-width: 768px){
         .ch-grid {
          width: 600px;
         }

         .ch-grid li {
        display: inline-block;
        margin:20px;
         }

  }

@media screen and (max-width: 620px){
     .ch-grid {
      width: 250px;
     }

     .ch-grid li {
    display: inline-block;
    margin:20px;
     }

}
/****************************************SEGUNDA PARTE-INDEX****************************/

#segunda-parte-naranja{
    background-color: #ed6c4e;    
    width: 100%;
  }
  
#segunda-parte-naranja h1{
    color: #fff;
    font-size: 2em;
    margin: auto;
    padding-top: 20px;    
  }

#segunda-parte-naranja #content{
      width: 800px;
      margin: auto;
  }

#segunda-parte-naranja section ol{
    text-align: center;  
    margin-left: auto;
    margin-right: auto;
  }

#segunda-parte-naranja section ol li {float: left; display: inline; margin: 0;}

#segunda-parte-naranja section ol  li .hentry{
    width: 250px;
    border-right: 0.08em solid #fff;
  }

#segunda-parte-naranja section ol li:last-child .hentry{
    border-right:  0 none;
  }


#segunda-parte-naranja section ol li article #titulo h1{
    font-size: 3em;
  }

#segunda-parte-naranja section ol li article #titulo h2{
    font-size: 1em;
    color: #fff;
  }

#segunda-parte-naranja section ol li article .entry-content{
    font-size: .8em;
    color:#fff;
    padding-top: 40px
}

#segunda-parte-naranja section ol li article .post-info{
    padding-top: 40px;
    font-size: 1.3em;
    color:#fff; 
    padding-bottom: 40px;
  }


#segunda-parte-naranja section ol li article footer a:link, 
#segunda-parte-naranja section ol li article footer a:visited,
#segunda-parte-naranja section ol li article footer a:hover
 {
    color: #fff;   
  }
 
 #segunda-parte-naranja .espacio{
  padding-bottom: 40px;
 }
  
/*******************************************TERCERA PARTE-INDEX**************************/
  #tercera-parte-gris{
    background-color: #323a45;   
    width: 100%;
    clear:both;
  }

  #tercera-parte-gris #seccion ol li {float: left; display: inline; margin: 0;}

  #tercera-parte-gris #seccion ol li .articulo{
    width: 350px; 
    padding-left: 50px;
    text-align: left;   
  }

  #tercera-parte-gris #seccion{
    padding-top: 50px;
    width: 800px;
    margin:auto;
  }


  #tercera-parte-gris .articulo #titulo h1{
    font-size: 2em;
    color:#fff;
    text-align: left;
  }

  #tercera-parte-gris .articulo #titulo h2{
    font-size: 1em;
    color: #fff;
    text-align: left;
  }

  #tercera-parte-gris #imagenseccion{
    float: left;
    padding-top: 50px;
    width:90px;
    height:90px;
  }

  #tercera-parte-gris .articulo .entry-content{
    font-size: .8em;
    color:#fff;    
    text-align:left;
    float: right;
    width:250px;
    padding-top: 80px;
  }

  #tercera-parte-gris .articulo .entry-content p{text-align: left;}

  #tercera-parte-gris .articulo .entry-content h2{
    text-align: left;
    padding-top: 50px;
    font-size: 2em;
    padding-bottom: 60px;
  }

  #tercera-parte-gris section ol{
    text-align: center;   
    margin-left: auto;
    margin-right: auto;
  }

  #tercera-parte-gris .post-info{
    padding-top: 40px;
    font-size: 1.3em;
    color:#fff;
    padding-top: 60px;
  }

#tercera-parte-gris section ol li article .entry-content a:link, 
#tercera-parte-gris section ol li article .entry-content a:visited,
#tercera-parte-gris section ol li article .entry-content a:hover
 {
    color: #fff;   
  }
 

/***********************************************CUARTA PARTE- INDEX *********************/


#foot{
    background-color: #292f39;
   /* height: 500px;*/
    width: 100%;
}

#foot section ol{
  /*width: 800px;*/
  /*height: 100px;*/
  margin-left: auto;
  margin-right: auto;
}

#seccionfoot ol li {float: left; display: inline; margin: 0;}

#seccionfoot ol li .articulo{
    width: 350px; 
    padding-left: 50px;
    text-align: left;   
}

#seccionfoot{
    padding-top: 50px;
    /*height:150px;*/
    width: 800px;
    margin: auto;
}

#imagenseccionfoot-1{   
    width:30px;
    height:30px;
    padding-left: 200px;
}

#imagenseccionfoot-2{   
    width:30px;
    height:30px;
    padding-left: 50px;
}

.entry-content-footer-1 p{
    font-size: .8em;   
    color:#3A4451;       
    width:250px;
    padding-top: 5px;
    padding-left: 100px;
    text-align: center;
}

.entry-content-footer-2 p{
    font-size: .8em;   
    color:#3A4451;       
    width:140px;
    padding-top: 5px;
    padding-right: 25px;
    text-align: center;
}

  footer #logo{   
  text-align: center;
  padding-top: 40px;  
  }

footer #logodos{   
    width: 150px;
    height:100px;
    padding-top: 30px;
  }


/*****************************************DETALLES****************************/

.GrayTriangle {
     margin-left: 50%;
     margin-bottom: 0;
     width: 0; 
     height: 0; 
     border-left: 25px solid transparent ;
     border-top: 35px solid  #323a45;
     border-bottom: 35px solid transparent;  
    border-right: 25px solid transparent;
   }

   .OrangeTriangle {
     margin-left: 50%;
     margin-bottom: 0;
     width: 0; 
     height: 0; 
     border-left: 25px solid transparent ;
     border-top: 35px solid  #ed6c4e;
     border-bottom: 35px solid transparent;  
     border-right: 25px solid transparent;
   }

/*****************************************RESPONSIVE HOME*******************************/
@media screen and (max-width: 320px ){
  
#segunda-parte-naranja #content{
      width: 200px;      
  }

#segunda-parte-naranja section ol  li .hentry{
    width: 200px;
    border-bottom: 0.08em solid #fff;
    border-right:  0 none;
  }

#segunda-parte-naranja section ol li:last-child .hentry{
    border-bottom:  0 none;
  }


  #tercera-parte-gris #seccion ol li .articulo{
    width: 200px; 
    padding-left: 10px;    
  }

  #tercera-parte-gris #seccion{
    width: 200px;
    padding-top: 0px;
  }

  #tercera-parte-gris .articulo .entry-content{
    width:200px;   
    padding-top: 10px;
  }

  #tercera-parte-gris #imagenseccion{
    padding-top: 0px;    
  }

  #tercera-parte-gris .articulo .entry-content h2 {
    padding-top: 10px;
  }

#seccionfoot ol li .articulo{
    width: 200px; 
    padding-left: 5px;     
}

#seccionfoot{
    padding-top: 10px;    
    width: 200px;
    }

#imagenseccionfoot-1{   
    width:30px;
    height:30px;
    margin: auto;
    padding-left: 99px;
}

#imagenseccionfoot-2{   
    width:30px;
    height:30px;
    margin: auto;
    padding-left: 99px;
}

.entry-content-footer-1 p{    
    width:200px;
    padding-top: 5px;
    padding-left: 10px;
    
}

.entry-content-footer-2 p{    
    width:200px;
    padding-top: 5px;
    padding-left: 10px;
   
}

  footer #logo{   
    width: 100px;
    height:70px;
    padding-top: 50px;
  }

footer #logodos{   
    width: 150px;
    height:100px;
    padding-top: 30px;
  }

  }


  @media screen and (max-width: 768px ){
  
#segunda-parte-naranja #content{
      width: 320px;      
  }

#segunda-parte-naranja section ol  li .hentry{
    width: 320px;
    border-bottom: 0.08em solid #fff;
    border-right:  0 none;
  }

#segunda-parte-naranja section ol li:last-child .hentry{
    border-bottom:  0 none;
  }


  #tercera-parte-gris #seccion ol li .articulo{
    width: 320px; 
    padding-left: 10px;    
  }

  #tercera-parte-gris #seccion{
    width: 320px;
    padding-top: 0px;
  }

  #tercera-parte-gris .articulo .entry-content{
    width:320px;   
    padding-top: 10px;
  }

  #tercera-parte-gris #imagenseccion{
    padding-top: 0px;    
  }

  #tercera-parte-gris .articulo .entry-content h2 {
    padding-top: 10px;
  }

#seccionfoot ol li .articulo{
    width: 320px; 
    padding-left: 5px;     
}

#seccionfoot{
    padding-top: 10px;    
    width: 320px;
    }

#imagenseccionfoot-1{   
    width:30px;
    height:30px;
    margin: auto;
    padding-left: 99px;
}

#imagenseccionfoot-2{   
    width:30px;
    height:30px;
    margin: auto;
    padding-left: 99px;
}

.entry-content-footer-1 p{    
    width:320px;
    padding-top: 5px;
    padding-left: 10px;
    
}

.entry-content-footer-2 p{    
    width:320px;
    padding-top: 5px;
    padding-left: 10px;
   
}

  footer #logo{   
    width: 100px;
    height:70px;
    padding-top: 50px;
  }

footer #logodos{   
    width: 150px;
    height:100px;
    padding-top: 30px;
  }

  }

   /***********************************************CONTACTO*****************************/
   /*********************************************PARTE NARANJA**************************/

   #segunda-parte-naranja #content-contact
   {
     width: 600px;
  margin: auto;
  padding: auto; 

   }

   #segunda-parte-naranja #content-contact h1{
    text-align: left;
    padding-top: 0px;
    padding-bottom: 40px;
   }

  #segunda-parte-naranja iframe{
    width:300px;
    height:300px;    
    float:left;
  }

 #segunda-parte-naranja #content-contact #texto-contacto{
  color: #fff;  
  float: right; 
  font-size: 0.85em;
  }


 #texto-contacto #texto-1, #texto-contacto #texto-2, #texto-contacto #texto-3{
  text-align: left;  
  width: 220px;

}

#texto-contacto #texto-2, #texto-contacto #texto-3{
  padding-top: 20px;
}

/***********************************************PARTE GRIS-CONTACTO**********************/

#tercera-parte-gris h1{
  color: #fff;
  font-size: 2em;
}

#tercera-parte-gris #section-form-contact{width: 600px;
  margin: auto;
  padding: auto;  
}

#tercera-parte-gris #section-form-contact h1{
text-align: left;
    padding-top: 0px;
    padding-bottom: 40px;
  }

  .form{
    text-align: left;
    padding-bottom: 60px;
  }

  .form input{   
     width: 183px;
     background-color: #292f39;
     border:none;
     padding: 7px;
  }

  .form p{
    margin-top: 20px;
    text-align: left;
  }

  .form p textarea{width:100%;
    height:150px;
  background-color: #292f39;
     border:none;
     padding-top: 10px;
     padding-left: 10px;}

    .form span{
      color:#fff;
      font-size: 1.2em;
      padding-top: 10px;
    }

    .form #clear{
      margin-left: 20px;
      padding-bottom: 20px;
    }

  #barragris{
  background-color: #292f39;  
  width: 100%;
  }

  .espacio{
    clear: both;
  }

/**********************RESPONSIVE - CONTACTO *********************************************/
@media screen and (max-width: 320px ){
#segunda-parte-naranja #content-contact
   {
     width: 200px;  
   }

   #segunda-parte-naranja #content-contact h1{
     margin-left: 10px;
   }

  #segunda-parte-naranja iframe{
    width:200px;
    height:200px;    
    margin-left: 10px;   
    padding-bottom: 30px; 
  }

 #segunda-parte-naranja #content-contact #texto-contacto{
    
  float:none;
  margin-left: 10px;
  margin-top: 10px;
  }


 #texto-contacto #texto-1, #texto-contacto #texto-2, #texto-contacto #texto-3{
  width: 200px;

}

#tercera-parte-gris #section-form-contact h1{
    margin-left: 10px;

  }

  #tercera-parte-gris #section-form-contact{
    width:200px;
    
  }

  .form{    
    margin-left: 10px;
  }

  .form input{   
     margin-top: 10px; 
     width:183px;    
  }

   .form p textarea{
    width:183px;
    height:100px;
  }

 }


/***************************************768-ipad***********************************/

@media screen and (max-width: 768px ){
#segunda-parte-naranja #content-contact
   {
     width: 320px;  
   }

   #segunda-parte-naranja #content-contact h1{
     margin-left: 10px;
   }

  #segunda-parte-naranja iframe{
    width:320px;
    height:320px;    
    margin-left: 10px;
    padding-bottom: 30px;    
  }

 #segunda-parte-naranja #content-contact #texto-contacto{
    
  float:none;
  margin-left: 10px;
  margin-top: 10px;
  }


 #texto-contacto #texto-1, #texto-contacto #texto-2, #texto-contacto #texto-3{
  width: 320px;

}

#tercera-parte-gris #section-form-contact h1{
    margin-left: 10px;

  }

  #tercera-parte-gris #section-form-contact{
    width:320px;
    
  }

  .form{    
    margin-left: 10px;
  }

  .form input{   
     margin-top: 10px; 
     width:300px;    
  }

   .form p textarea{
    width:300px;
    height:100px;
  }

 }
  