/*

  Name : CSS Nav 
  
  Company: Collaboration Dynamic Development

  Date : July 2015

  Author: Jose Antonio Monge Navarro

  E-mail: joseamn@outlook.com

*/

/*
  Nav 

*/
.positionRelative{
   position: relative;
  }

header nav {
    width:100%;
    line-height: 30px;  
    border: 5px;
    border-bottom:#68707B solid 1px;
    float:left;
  }
  
  header nav ul {
    margin: 0 auto; 
    width: 800px;
    max-width: 100%;
  }
  header nav ul li {
    display:inline-block;
  }
  
  header nav ul li a {
    font-size: 120%;
    color: #68707b;
    display: inline-block;
    height: 30px;
    padding: 20px 1.5em;
    
  }
  header nav ul li a:hover{
    background: #292f39;
    color: #68707b;    
    border-bottom:3px solid #ed6c4e;
  }
  .active {
    border-bottom:3px solid #ed6c4e;
  }
  .active a {
    color:#ddd;
  }
  .active a:hover{
    border-bottom:#ed6c4e;
    color:#ddd;
  }
  #showMenu{
    position: absolute;
    right: 10px;
    top: 10px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ffffff;
    z-index: -1;
  }

  /*

    Media Queries 400px(Smart Phones)
    
  */
  @media screen and (max-width: 400px){

    header nav ul li:nth-child(2),
    header nav ul li:nth-child(3),
    header nav ul li:nth-child(4),
    header nav ul li:nth-child(5){
      display: none;
    }
    header nav ul li:first-child{
      margin-top:10px;
    }
    header nav ul li{
      width:100%;
      margin:5px 0;
      background:#ed6c4e; 
    }

    header nav ul li a,
    .active a{
      color:#ffffff;
      margin: 3px 15% 3px 5%;
      padding:0;
      text-align: left;
      width:80%;
    }
    header nav ul li a:hover,
    .active a:hover{
      background:#ed6c4e;
      color: #68707b;    
      border:0;
    }
    #showMenu{
      z-index: 1;
    }
    #showMenu:hover{
      border-top: 15px solid #68707b;
    }
  }