/*****************************************************/
/*   PROYECTO ACCENTURE:                             */
/*   KEVIN CORTES OBALDIA  -  JOAN ESQUIVEL          */
/*   JOSE MONGE NAVARRO    -  ANDRES PEREZ MATA      */
/*   1-RESET                                         */
/*   2-PRIMERA PARTE - INDEX                         */
/*   3-SEGUNDA PARTE - INDEX                         */
/*   4-TERCERA PARTE - INDEX                         */
/*   5-CUARTA PARTE  - INDEX                         */
/*   6-RESPONSIVE    - INDEX                         */
/*****************************************************/

@import url("reset.css");
@import url("mainNav.css");


/***************************************PRIMERA PARTE-INDEX************************************/
  body #barranaranja{
    background-color: #ed6c4e;
    height: 10px;
    width: 100%;
  }

  body #primera-parte-gris{
    background-color: #323a45;    
    width: 100%;
  }

  header img{
    margin:40px auto 60px auto;
  }

   body #primera-parte-gris #textoprincipal{
    font-size: 2.5em;
    color: #68707b;
    text-transform: uppercase;
  }

   body #primera-parte-gris #textoprincipal span{    
    color: #ed6c4e;
  }

  .ch-grid {
    margin: auto;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 800px;
  }

  .ch-grid:after,
  .ch-item:before {
    content: '';
    display: table;
  }

  .ch-grid:after {
    clear: both;
  }

  .ch-grid li {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: -20px;           /*aqui hago se pongan uno encima del otro*/
    margin-top: 20px;
    padding-bottom: 60px;
  }

  .ch-item {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    box-shadow: 
      inset 0 0 0 2px rgba(255,255,255,0.6),
      0 1px 2px rgba(0,0,0,0.1);
    background-color: #333b46;
    opacity: 0.4;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

}

.ch-info {
  position: absolute;  
  width: inherit;
  height: inherit;
  border-radius: 50%;
  opacity: 1;
  -webkit-backface-visibility: hidden;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.ch-info h3 {
  color: #68707b;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.4em;
  margin: 0 10px;
  padding: 5px 0 0 0;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 
    0 0 1px #68707b, 
    0 1px 2px rgba(0,0,0,0.3);
}

.ch-item:hover {  
  background-image: url(../images/home/circulo.jpg);
  box-shadow: none;
  opacity: 1;
  z-index: 1;
}

.ch-item:hover .ch-info {  
  opacity: 1;
  color:#fff;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.ch-item:hover .ch-info h3{  
  color:#fff;
}

.imagendentrocirculo{
  margin-top: 50px;
  height: 40px;
  width: 40px;
}


/****************************************SEGUNDA PARTE-INDEX****************************/

#segunda-parte-naranja{
  background-color: #ed6c4e;    
  width: 100%;
}
  
#segunda-parte-naranja h1{
  color: #fff;
  font-size: 2.1em;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;    
 }

#segunda-parte-naranja #content{
  width: 800px;
  margin: auto;
 }

#segunda-parte-naranja section ol{
  text-align: center;  
  margin-left: auto;
  margin-right: auto;
}

#segunda-parte-naranja section ol li {float: left; display: inline; margin: 0;}

#segunda-parte-naranja section ol  li .hentry{
  width: 250px;
  border-right: 0.08em solid #fff;
}

#segunda-parte-naranja section ol li:last-child .hentry{
  border-right:  0 none;
}


#segunda-parte-naranja section ol li article #titulo h1{
  font-size: 3em;
}

#segunda-parte-naranja section ol li article #titulo h2{
  font-size: 1.2em;
  color: #fff;
}

#segunda-parte-naranja section ol li article .entry-content{
  font-size: .9em;
  color:#fff;
  padding-top: 40px
}

#segunda-parte-naranja section ol li article .post-info{
  padding-top: 40px;
  font-size: 1.3em;
  color:#fff; 
  padding-bottom: 40px;
}


#segunda-parte-naranja section ol li article footer a:link, 
#segunda-parte-naranja section ol li article footer a:visited,
#segunda-parte-naranja section ol li article footer a:hover
 {
  color: #fff;   
 }
 
 #segunda-parte-naranja .espacio{
  padding-bottom: 40px;
 }
  
/*******************************************TERCERA PARTE-INDEX**************************/
  #tercera-parte-gris{
    background-color: #323a45;   
    width: 100%;   
  }

  #tercera-parte-gris #seccion ol li {float: left; display: inline; margin: 0;}

  #tercera-parte-gris #seccion ol li .articulo{
    width: 350px; 
    padding-left: 50px;
    text-align: left;   
  }

  #tercera-parte-gris #seccion{
    padding-top: 20px;
    width: 800px;
    margin:auto;
  }

  #tercera-parte-gris .articulo #titulo h1{
    font-size: 2.1em;
    color:#fff;
    text-align: left;
  }

  #tercera-parte-gris .articulo #titulo h2{
    font-size: 1em;
    color: #fff;
    text-align: left;
  }

  #tercera-parte-gris #imagenseccion{
    float: left;
    padding-top: 50px;
    width:90px;
    height:90px;
  }

  #tercera-parte-gris .articulo .entry-content{
    font-size: .9em;
    color:#fff;    
    text-align:left;
    float: right;
    width:250px;
    padding-top: 80px;
  }

  #tercera-parte-gris .articulo .entry-content p{text-align: left;}

  #tercera-parte-gris .articulo .entry-content h2{
    text-align: left;
    padding-top: 50px;
    font-size: 1.8em;
    padding-bottom: 60px;
  }

  #tercera-parte-gris section ol{
    text-align: center;   
    margin-left: auto;
    margin-right: auto;
  }


#tercera-parte-gris section ol li article .entry-content a:link, 
#tercera-parte-gris section ol li article .entry-content a:visited,
#tercera-parte-gris section ol li article .entry-content a:hover
 {
    color: #fff;   
  }
 

/***********************************************CUARTA PARTE- INDEX *********************/

#foot{
  background-color: #292f39;
  width: 100%;
}

#seccionfoot{
  padding-top: 50px;    
  width: 800px;
  margin: auto;
}

#foot section ol{ 
  margin-left: auto;
  margin-right: auto;
}

#seccionfoot ol li {float: left; display: inline; margin: 0;}

#seccionfoot ol li .articulo{
  width: 350px; 
  padding-left: 50px;
  text-align: left;   
}



#imagenseccionfoot-1{   
  width:30px;
  height:30px;
  padding-left: 200px;
}

#imagenseccionfoot-2{   
  width:30px;
  height:30px;
  padding-left: 50px;
}

.entry-content-footer-1 p, .entry-content-footer-2 p{
  font-size: .8em;   
  color:#3A4451;
  text-align: center;
  padding-top: 5px;
}

.entry-content-footer-1 p{           
  width:250px;
  padding-left: 100px;    
}

.entry-content-footer-2 p{       
  width:140px;
  padding-right: 25px;    
}

footer #logo{   
  text-align: center;
  padding-top: 40px;  
}

footer #logodos{      
    padding-top: 30px;
    cursor:pointer;
}


/*****************************************DETALLES****************************/

.GrayTriangle {
  margin-left: 50%;
  margin-bottom: 0;
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent ;
  border-top: 35px solid  #323a45;
  border-bottom: 35px solid transparent;  
  border-right: 25px solid transparent;
}

.OrangeTriangle {
  margin-left: 50%;
  margin-bottom: 0;
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent ;
  border-top: 35px solid  #ed6c4e;
  border-bottom: 35px solid transparent;  
  border-right: 25px solid transparent;
}

.espacio{
  clear: both;
}


/*****************************************RESPONSIVE*****************************************/

@media screen and (max-width: 320px ){
  #segunda-parte-naranja #content{
    width: 200px;      
  }

  #segunda-parte-naranja section ol  li .hentry{
    width: 200px;
    border-bottom: 0.08em solid #fff;
    border-right:  0 none;
  }

  #segunda-parte-naranja section ol li:last-child .hentry{
    border-bottom:  0 none;
  }

  #segunda-parte-naranja section ol li .entry-content{
    width: 200px;
    margin: auto;
  }

  #tercera-parte-gris #seccion ol li .articulo{
    width: 200px; 
    padding-left: 10px;    
  }

  #tercera-parte-gris #seccion{
    width: 200px;
    padding-top: 0px;
  }

  #tercera-parte-gris .articulo #titulo h1{
    text-align: center;
  }

  #tercera-parte-gris .articulo #titulo h2{
    text-align: center;
  }

  #tercera-parte-gris .articulo .entry-content{
    width:200px;   
    padding-top: 10px;
    margin: auto;
    clear:both;
    float:none;
  }

  #tercera-parte-gris #imagenseccion{
    padding-top: 10px; 
    margin-left: 30%;   
    float: none;
  }

  #tercera-parte-gris .articulo .entry-content h2 {
    padding-top: 10px;
    text-align: center;
    margin: auto;
  }

  #seccionfoot ol li .articulo{
    width: 200px; 
    padding-left: 5px;     
  }

  #tercera-parte-gris .articulo .entry-content p {
    width:200px;
    margin: auto;
  }

  #seccionfoot{
    padding-top: 10px;    
    width: 200px;
  }

  #imagenseccionfoot-1{   
    width:30px;
    height:30px;
    margin: auto;
    margin-left: 50%;
    padding-left: 0px;
  }

  #imagenseccionfoot-2{   
    width:30px;
    height:30px;
    margin: auto;
    margin-left: 50%;
    padding-left: 0px;
  }

  .entry-content-footer-1 p{    
    width:200px;
    padding-top: 5px;
    padding-left: 10px;
  }

  .entry-content-footer-2 p{    
    width:200px;
    padding-top: 5px;
    padding-left: 10px;
  }

  footer #logo{   
    width: 100px;
    height:70px;
    padding-top: 50px;
  }

  footer #logodos{   
    width: 150px;
    height:100px;
    padding-top: 30px;
  }

}


@media screen and (max-width: 768px ){
  .ch-grid {
    width: 600px;
  }

  .ch-grid li {
    display: inline-block;
    margin:20px;
  }

  #segunda-parte-naranja #content{
    width: 320px;      
  }

  #segunda-parte-naranja section ol  li .hentry{
    width: 320px;
    border-bottom: 0.08em solid #fff;
    border-right:  0 none;
  }

  #segunda-parte-naranja section ol li:last-child .hentry{
    border-bottom:  0 none;
  }

  #tercera-parte-gris #seccion ol li .articulo{
    width: 320px; 
    padding-left: 10px;    
  }

  #tercera-parte-gris #seccion{
    width: 320px;
    padding-top: 0px;
  }

  #tercera-parte-gris .articulo .entry-content{
    width:320px;   
    padding-top: 10px;
  }

  #tercera-parte-gris #imagenseccion{
    padding-top: 0px;    
  }

  #tercera-parte-gris .articulo .entry-content h2 {
    padding-top: 10px;
  }

  #seccionfoot ol li .articulo{
    width: 320px; 
    padding-left: 5px;     
  }

  #seccionfoot{
    padding-top: 10px;    
    width: 320px;
  }

  #imagenseccionfoot-1{   
    width:30px;
    height:30px;
    margin: auto;
    padding-left: 99px;
  }

  #imagenseccionfoot-2{   
    width:30px;
    height:30px;
    margin: auto;
    padding-left: 99px;
  }

  .entry-content-footer-1 p{    
    width:320px;
    padding-top: 5px;
    padding-left: 10px;
  }

  .entry-content-footer-2 p{    
    width:320px;
    padding-top: 5px;
    padding-left: 10px;
  }

  footer #logo{   
    width: 100px;
    height:70px;
    padding-top: 50px;
  }

  footer #logodos{   
    width: 150px;
    height:100px;
    padding-top: 30px;
  }

}

@media screen and (max-width: 620px){
  .ch-grid {
    width: 250px;
  }

  .ch-grid li {
    display: inline-block;
    margin:20px;
  }

}