
 @charset "UTF-8";
 


@media only screen and (max-width: 368px) {
    body {
        background: lightblue;
    }
       body #barranaranja, #primera-parte-gris, #colaboration-services, #segunda-parte-naranja{
       	width: 368px;
       }

       body #primera-parte-gris header nav{
       	font-size: 12.5px;
       }
       
     
      }




 