/*
 *    Name : Web Page About Us Collaboration Dynamic Development
 *  
 *    Date : July 2015
 *
 *    Author: Joan Esquivel Montero
 *
 *    E-mail: joan.esquim@hotmail.com	
 *
 *****************************/
	

  #FirstOrangeBar{
  background-color: #ed6c4e;
  margin: 0 auto;
  height: 10px;
  width: 100%;
  }
  /************
     Header
  ************/
  header{
    background-color: #323a45;
    width:100%;
  }
  header nav {
    width:100%;
    line-height: 30px;  
    border: 5px;
    border-bottom:#68707B solid 1px;
    float:left;
  }
  
  header nav ul {
    margin: 0 auto; 
    width: 800px;
  }
  header nav ul li {
    display:inline-block;
  }
  
  header nav ul li a {
    font-size: 120%;
    color: #68707b;
    display: inline-block;
    height: 30px;
    padding: 20px 1.5em;
    text-decoration: none;
  }
  header nav ul li a:hover{
    background: #292f39;
    color: #68707b;    
    border-bottom:3px solid #ed6c4e;
  }
  .active {
    border-bottom:3px solid #ed6c4e;
  }
  .active a {
    color:#ddd;
  }
  .active a:hover{
    border-bottom:#ed6c4e;
    color:#ddd;
  }
  header img{
    margin:40px auto 60px auto;
  }
  


/*Second part*/
 
  
#orangePart{
    background-color: #ed6c4e;    
    width: 100%;
 }
  

#orangePart section{
	width:auto;
	
}

#orangePart #section ol{
	text-align:center;
	width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
	list-style:none;
	
}

#orangePart section ol .item {
	float: left; 	
}

#orangePart section ol li .headers {
	
	background-color:#ed6c4e;
	color:#FFF;
	font-size: 2.5em;
}




#orangePart section ol li:first-child h1{
	
	clear:right;
	margin-bottom: 35px;
	margin-right: 350px;
	background-color:
	
}

#orangePart  section ol  li .hentry{
    width: 400px;
  
  }

#orangePart section ol li article hgroup{
	
	color:#FFF;
	font-size:1em;
	padding-right:50em;
	padding-top: 50px;
	
	
}

#orangePart section ol li article hgroup h2{
	
	font-size:4em;	
}


#orangePart section ol li article figure img{

	float:right;
	padding-right: 20px;
	
}

#orangePart section ol li article .content p{
	
	padding-top: 50px;
	text-align:left;

}

#orangePart section ol li article .post-info a {

	text-decoration:none;
	font-size:1.5em;	
	color:#fff;
	text-align: left;
	padding-right:50em;
	
}


/*List Style*/

#orangePart #section ol li:last-child .hentry .entry-content ul li:first-child{
	
	padding-top:45px;
	
}

#orangePart #section ol li:last-child .hentry .entry-content ul li{
	
	color:white;
	list-style-type:none;
	margin: 0;
	padding-left:100px;
	text-align:left;
}

#orangePart #section ol li:last-child .hentry .entry-content ul li:before {
    content: '✔';   
    margin-left: -1em; margin-right: .100em;
}

#orangePart #section ol li:last-child .hentry .entry-content ul{
    
   padding-left:20px;
   text-indent:2px;
    list-style: none;
   list-style-position:outside; 
  
}

#orangePart #section ol li:last-child .hentry .entry-content #third-header{
color:red;
	
}

/*Last Gray Bar*/
#lastGrayBar{
  background-color: #323a45;
  margin: 0 auto;
  
  width: 100%;
  }




 

/*****************************************DETALLES****************************/

.GrayTriangle {
     margin-left: 50%;
     margin-bottom: 0;
     width: 0; 
     height: 0; 
     border-left: 25px solid transparent ;
     border-top: 35px solid  #323a45;
     border-bottom: 35px solid transparent;  
    border-right: 25px solid transparent;
   }

   .OrangeTriangle {
     margin-left: 50%;
     margin-bottom: 0;
     width: 0; 
     height: 0; 
     border-left: 25px solid transparent ;
     border-top: 35px solid  #ed6c4e;
     border-bottom: 35px solid transparent;  
    border-right: 25px solid transparent;
   }